<h3 style="text-align: center;"> Sorted in Asc Order From Title</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Title</th>
        <th scope="col">Technology</th>
        <th scope="col">Comp-Id</th>
        <th scope="col">Comp-Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courseList">
        <td>{{course.sno}}</td>
        <td>{{course.title}}</td>
        <td>{{course.technology}}</td>
        <td>{{course.provider.compId}}</td>
        <td>{{course.provider.compName}}</td>
        <td>{{course.price}}</td>
      </tr>
    </tbody>
  </table>




  