
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" routerLink="" style="text-align: center;">Course Management</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="courses">&#8962; Home</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a  routerLink="create-course" class="btn btn-light" type="button">Add Course</a>
          </form>
        </div>
      </nav>
<router-outlet></router-outlet>
</div>