<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="" style="text-align: center;">Course Management</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/courses">&spades; Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" routerLink="/show-page">&diams; Search</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/create-course">&clubs; Add Course</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a  routerLink="/logout" class="btn btn-danger" type="button">Logout</a>
        </form>
      </div>
    </nav>
    <br>
<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="error">
  <p *ngFor="let c of error">{{c.defaultMessage}}</p>
</div>
<div  class="col-md-8 offset-md-3">
  <h3 style="text-align: center;">Update Course</h3>
<form (ngSubmit)="OnSubmit()">
<div class="form-group">
  <label >Serial Number</label>
  <input type="number" class="form-control" id="Serial Number" [(ngModel)]="cour.sno" name="Serial Number">
  </div>
  <div class="form-group">
  <label >Title</label>
  <input type="text" class="form-control" id="Title" [(ngModel)]="cour.title" name="Title" >
  </div>
  <div class="form-group">
  <label >Technology</label>
  <input type="text" class="form-control" id="Technology" [(ngModel)]="cour.technology" name="Technology">
  </div>
  <div class="form-group">
    <label >Company-Id</label>
    <input type="number" class="form-control" id="Company-Id" [(ngModel)]="Comp.compId"  name="Company-Id" required>
      </div>
  <div class="form-group">
    <label >Company-Name</label>
    <input type="text" class="form-control" id="Company-Name" [(ngModel)]="Comp.compName"  name="Company-Name" required>
      </div>
      <div class="form-group" *ngFor="let add of addweb;let i=index">
        <label >Website-Id</label>
        <input type="text" class="form-control" id="Website-Id" [(ngModel)]="add.webId" name="Website-Id" >
            <label >Website-Name</label>
            <input type="text" class="form-control" id="Website-Name" [(ngModel)]="add.webName" name="Website-Name" >
                <label >Website-Rating</label>
                <input type="text" class="form-control" id="Website-Rating" [(ngModel)]="add.webrating" name="Website-Rating" >
                <button (click)="removeWebiste(i)" class="btn btn-danger">-</button>
                  </div>
                  <button (click)="addWebsite()" class="btn btn-primary">+</button>

  <div class="form-group">
  <label >Price	</label>
  <input type="number" class="form-control" id="Price" [(ngModel)]="cour.price" name="Price">
    </div>
    <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>
</div>