<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="" style="text-align: center;">Course Management</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/courses">&spades; Home</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" routerLink="/show-page">&diams; Search</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/create-course">&clubs; Add Course</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a  routerLink="/logout" class="btn btn-danger" type="button">Logout</a>
        </form>
      </div>
    </nav>
    <br>
<h3 style="text-align: center;"> Course Detail</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Title</th>
        <th scope="col">Technology</th>
        <th scope="col">Comp-Id</th>
        <th scope="col">Comp-Name</th>
        <th scope="col">WId   WName  WRating</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cour.sno}}</td>
        <td>{{cour.title}}</td>
        <td>{{cour.technology}}</td>
        <td>{{cour.provider.compId}}</td>
        <td>{{cour.provider.compName}}</td>
        <td>
          <tr *ngFor="let c of cour.weblist">
            <td>{{c.webId}}</td>
            <td>{{c.webName}}</td>
            <td>&#11088; {{c.webrating}}</td>
          </tr>
        </td>
        <td>&#8377; {{cour.price}}</td>
      </tr>
    </tbody>
  </table>
</div>